<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Image File</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>png</string>
        <string>jpg</string>
        <string>jpeg</string>
        <string>bmp</string>
        <string>gif</string>
        <string>webp</string>
        <string>tiff</string>
        <string>tif</string>
        <string>heic</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
  </array>
</dict>
</plist>
