.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  height: 1rem;
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 999px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0); 
  background: #888; 
  border-color: rgba(255,255,255, 1);
  border-radius: 999px;
  border-width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-resizer{ 
  background-color: #000000;
}